body {
  background-color:rgba(0, 255, 255, 0.564);
}

h1 {
  color: 0d0d0d);
  text-align: center;
}

p {
  
  font-size: 30px;
}
img {
  border: 8px solid #ddd;
  border-radius: 60px;
  padding: 100px;
  width: 1000px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}